h1 {
	font-family: "Courier New", monospace;
	text-align: left;
  font-weight: normal;
}

h6 {
	font-family: "Courier New", monospace;
	text-align: left;
	font-weight: normal;
	color: blue;

}
p  {
  color: red;
	font-family: "Courier New", monospace;
}
